$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';
@import 'susy';

$total-columns  : 7;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;

$midnight       : #2C3E50;

.container { 
    @include container; 
    @include susy-grid-background;
}   

.search {
    @include span-columns(6 omega, $total-columns);   
}

.search input {
    background-color: transparent;
    outline: none;
    margin: 0;
    border: 0;
    width: 100%;
    color: #eee;
    text-align: center;
}

.issues {
    margin: 0;
    padding: 0;
}

.issue {
    margin-left: 0;
    list-style: none;
}