doctype html
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  title
  meta(name='description', content='')
  meta(name='viewport', content='width=device-width')
  // Place favicon.ico and apple-touch-icon.png in the root directory 
  // build:css({.tmp,app}) styles/main.css 
  link(rel='stylesheet', href='styles/main.css')
  // link(href='http://fonts.googleapis.com/css?family=OpenSans:400,700', rel='stylesheet', type='text/css')
  link(href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css', rel='stylesheet')
  // endbuild 
body(ng-app='pomoApp')
  // if lt IE 7
    p.browsehappy
      | You are using an
      strong outdated
      | browser. Please
      a(href='http://browsehappy.com/') upgrade your browser
      | to improve your experience.
  // if lt IE 9
    script(src='bower_components/es5-shim/es5-shim.js')
    script(src='bower_components/json3/lib/json3.min.js')

  // Add your site or application content here
  .container(ng-view='')

  // Google Analytics: change UA-XXXXX-X to be your site's ID
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');

  script(src='bower_components/jquery/jquery.js')
  script(src='bower_components/angular/angular.js')
  // build:js scripts/plugins.js 
  script(src='bower_components/sass-bootstrap/js/affix.js')
  script(src='bower_components/sass-bootstrap/js/alert.js')
  script(src='bower_components/sass-bootstrap/js/button.js')
  script(src='bower_components/sass-bootstrap/js/carousel.js')
  script(src='bower_components/sass-bootstrap/js/transition.js')
  script(src='bower_components/sass-bootstrap/js/collapse.js')
  script(src='bower_components/sass-bootstrap/js/dropdown.js')
  script(src='bower_components/sass-bootstrap/js/modal.js')
  script(src='bower_components/sass-bootstrap/js/scrollspy.js')
  script(src='bower_components/sass-bootstrap/js/tab.js')
  script(src='bower_components/sass-bootstrap/js/tooltip.js')
  script(src='bower_components/sass-bootstrap/js/popover.js')
  script(src='bower_components/underscore/underscore-min.js')
  //script(src='bower_components/angular-timer/dist/angular-timer.min.js')
  script(src='bower_components/ngstorage/ngStorage.min.js')
  // endbuild 
  // build:js scripts/modules.js 
  script(src='bower_components/angular-resource/angular-resource.js')
  script(src='bower_components/angular-cookies/angular-cookies.js')
  script(src='bower_components/angular-sanitize/angular-sanitize.js')
  script(src='bower_components/angular-route/angular-route.js')
  // endbuild 
  // build:js({.tmp,app}) scripts/scripts.js 
  script(src='scripts/app.js')
  script(src='scripts/controllers/main.js')
  script(src='scripts/services/issues.js')
  script(src='scripts/controllers/issues.js')
  script(src='scripts/controllers/issue.js')
  script(src='scripts/controllers/Timer.js')
  
  //   endbuild