<header class="page-header">
  <h2>{{ name }}</h2>
</header>
<div ng-controller="IssuesCtrl" class="issues">
  <ul>
    <li ng-repeat="issue in $storage.issues" class="issue"> 
      <span ng-controller="TimerCtrl">
        <button ng-click="timer(issue, 10)">start</button>{{ remaining }} {{ elapsed }}
        <button ng-click="timer.stop()" ng-show="running">stop</button>   
      </span>
      <h4>
        <a href="#/issues/{{issue.id}}">{{ issue.title }} </a>
      </h4>
      <span> sessions: {{ issue.sessionsCount }} </span>
      <span> time: {{ issue.totalTime }}</span>
    </li>
  </ul>
</div>
